@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inconsolata&family=Montserrat:wght@300;400&family=Open+Sans&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
}

body {
    background: url('../img/memorygamebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    box-sizing: content-box;
    width: 15em;
    padding: 2.5em 3em;
    backdrop-filter: blur(30px);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);

}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.3em;
    right: 10px;
}

.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
}

.stats-container span {
    font-weight: 600;
}

img {
    width: 50px;
}

.card-container {
    position: relative;
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    backdrop-filter: blur(20px);
    color: transparent;
    font-size: 3em;
    font-weight: 600;
    -webkit-text-stroke: .1px #ffffff;
}

.card-after {
    backdrop-filter: blur(20px);
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('../img/memorygameleft.png');
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    background-position: center;
    background-size: 85em;
    top: 0;
}

.controls-container h1 {
    font-size: 80px;
    padding-bottom: 20px;
    color: #fff;
    -webkit-text-stroke: 2px #055d8b;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;
}

.controls-container button {
    font-size: 1.1em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

.hide {
    display: none;
}

#result {
    text-align: center;
    color: #ffffff;
}

#result h2 {
    font-size: 2.5em;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
        height: 89.5vh;
        max-width: 50em;
        background: transparent;
    }

    .game-container {
        position: relative;
        width: 100%;
        display: grid;
        gap: 5em;
        right: 10px;
        top: 0px;
    }

    .card-before {
        font-size: 5em;
    }

    .card-before,
    .card-after {
        width: 130px;
        height: 130px;
    }
    

    .stats-container {
        text-align: center;
        margin-top: -30px;
    }

    #stop {
        margin-top: 100px;
    }
}